*{
    box-sizing: border-box;
}


body{
    padding: 0;
    margin: 0;
}

.todo-app{
    border:3px solid black;
    width: 100vw;
    height: 100vh;
}
.todo-content{
    height: 85%;
}
.home-card-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    height: 8%;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:2rem;
    padding-right:2rem;
    height: 15%;
    background-color: lightblue;
    border-bottom: 3px solid black;
}
.todo-text{
    font-size:40px;
    font-weight:900;
}

@media screen and (max-width:786px) {
    .todo-text{
        font-size:20px;
        font-weight:900;
    }
}

.list-card{
    border:2px solid red;
    padding:0px;
    display: flex;
    flex-direction: column;
    min-height: 30%;
    max-height: 70%;
    overflow:scroll;
    white-space: nowrap;
    margin: 0;
    overflow-x: auto;

}
.todo-card-filter{
    width:30%;
    display: flex;
    justify-content: space-between;
}
.filters-btn{
    width:30%;
    border-radius: 20px;
}
.act-btn{
    color:white;
    border:3px solid blue;
    color:blue;
}

.list{
    border:2px solid green;
    padding:0px;
    display: flex;
    flex-direction: column;
    min-height: 30%;
    max-height: 70%;
    overflow:scroll;
    white-space: nowrap;
    margin: 0;
    overflow-x: auto;

}

.list-it{
    border:2px solid pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
}